<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  IgnorableNamespaces="uap rescap iot">

  <Identity
    Name="bb9c6774-e155-4426-ac53-1ee8718c3cc2"
    Publisher="CN=uelieb"
    Version="1.0.0.0" />

  <Properties>
    <DisplayName>LinakDeskController</DisplayName>
    <PublisherDisplayName>uelieb</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.19041.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.19041.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="LinakDeskController"
        Description="LinakDeskController"
        BackgroundColor="transparent"
        Square44x44Logo="Assets\Square44x44Logo.png" Square150x150Logo="Assets\desk150.png">
        <uap:DefaultTile Wide310x150Logo="Assets\desk150.png" >
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
      </uap:VisualElements>
		<Extensions>
			<desktop:Extension Category="windows.toastNotificationActivation">
				<desktop:ToastNotificationActivation ToastActivatorCLSID="da524255-c55a-4718-8a21-ee375f9dbfac" />
			</desktop:Extension>
			<com:Extension Category="windows.comServer">
				<com:ComServer>
					<com:ExeServer Executable="LinakDeskController.exe" Arguments="-ToastActivated" DisplayName="Toast activator">
						<com:Class Id="da524255-c55a-4718-8a21-ee375f9dbfac" DisplayName="Toast activator"/>
					</com:ExeServer>
				</com:ComServer>
			</com:Extension>
		</Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <uap:Capability Name="userAccountInformation"/>
	<DeviceCapability Name="humanInterfaceDevice"/>
  </Capabilities>
</Package>
